@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

a:hover {
    color: hsl(171, 66%, 44%);
    transition: all 0.2s ease-in-out;
}

.ios {
    transition: all 0.2s ease-in-out;
}

.mac {
    transition: all 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.iosbtn button {
    font-family: 'Bai Jamjuree', sans-serif;
    border: 1px solid hsl(171, 66%, 44%);
    border-bottom: 3px solid  hsl(171, 65%, 38%);
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 5px 7px 6px hsla(171, 66%, 44%, 0.2);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 999px;
    width: 260px;
    height: 55px;
}

.macbtn button {
    font-family: 'Bai Jamjuree', sans-serif;
    border: 1px solid hsl(233, 100%, 69%);
    border-bottom: 3px solid hsl(233, 51%, 53%);
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 5px 7px 6px hsla(233, 100%, 69%, 0.2);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 999px;
    width: 260px;
    height: 55px;
}

.socials svg:hover {
    fill: hsl(171, 66%, 44%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.socials svg:hover path {
    fill: hsl(171, 66%, 44%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.socials svg:hover polygon {
    fill: hsl(171, 66%, 44%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.socials svg:hover circle {
    fill: hsl(171, 66%, 44%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 981px) {
    body {
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }

    p {
        line-height: 150%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 0%;
    }

    .firstsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text h1 {
        margin: 8%;
        margin-bottom: 2%;
    }

    .text p {
        margin: 9%;
        margin-bottom: 5%;
        margin-top: 0px;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7%;
    }

    .ios {
        margin-right: 20px;
    }

    .secondsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 9%;
        margin-bottom: 3%;
        text-align: center;
    }

    .secondtext {
        max-width: 600px;
    }

    .secondsection h2 {
        margin-bottom: 2%;
    }

    .thirdsection {
        margin: 8%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidetext {
        max-width: 350px;
    }

    .thirdsection .pc {
        margin-left: -35%; 
        margin-right: 10%;
        max-width: 600px;
    }

    .thirdsection h3 {
        margin-bottom: 1%;
    }

    .thirdsection p {
        margin-bottom: 7%;
        max-width: 400px;
    }

    .fourthsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 9%;
        margin-bottom: 5%;
    }

    .fourthparagraph {
        max-width: 600px;
    }

    .fourthsection h2 {
        margin-bottom: 1%;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }

    .image img {
        max-width: 800px;
    }

    .fifthsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 9%;
        margin-bottom: 10%;
    }
    .fifthsection .fifthtext {
        margin-bottom: 5%;
    }

    .fifthsection .fifthtext h2 {
        margin-bottom: 1%;
    }

    .bottomtext {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .middle {
        margin-left: 3%;
        margin-right: 3%;
    }

    .fifthsection img {
        margin-bottom: 4%;
    }

    .fifthsection h3 {
        margin-bottom: 3%;
    }

    .fifthsection p {
        max-width: 370px;
    }

    .logos {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        margin-bottom: 0%;
    }

    .downloaders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align-last: center;
        margin: 8%;
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .description {
        max-width: 600px;
    }

    .downloaders h2 {
        text-align: center;
        margin: 11%;
        margin-bottom: 1%;
    }

    .bottomparagraph {
        text-align: center;
        margin-bottom: 10%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsla(202, 11%, 66%, 0.1);
    }

    .bottomlogo {
        margin: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 8%;
    }

    .bottomlogo img {
        width: 60px;
        height: 60px;
    }

    .info {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: -35%;
    }

    .info div {
        padding-left: 20px;
        padding-right: 60px;
    }

    .info a {
        text-decoration: none;
        line-height: 200%;
    }

    .socials {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 3%;
    }

    .socials a {
        margin: 20%;
    }

    .pc img {
        width: 100%;
    }
}

@media screen and (max-width: 980px) and (min-width: 426px) {
    body {
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    p {
        line-height: 153%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .firstsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        text-align: center;
        max-width: 600px;
    }

    .text h1 {
        margin: 8%;
        margin-bottom: 1%;
    }

    .text p {
        margin: 9%;
        margin-top: 0px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iosbtn {
        margin-bottom: 5%;
    }

    .macbtn {
        margin-bottom: 20%;
    }

    .secondsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 9%;
        margin-bottom: 15%;
        text-align: center;
    }

    .secondtext {
        max-width: 600px;
    }

    .secondsection h2 {
        margin-bottom: 1%;
    }

    .thirdsection {
        margin: 8%;
        text-align: center;
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidetext {
        max-width: 600px;
    }

    .thirdsection .pc {
        margin-bottom: 10%;
        max-width: 600px;
    }

    .thirdsection h3 {
        margin-bottom: 1%;
    }

    .thirdsection p {
        margin-bottom: 7%;
        max-width: 400px;
    }

    .fourthsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 9%;
        margin-bottom: 10%;
    }

    .fourthparagraph {
        max-width: 600px;
    }

    .fourthsection h2 {
        margin-bottom: 1%;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
        margin-bottom: 3%;
    }

    .image img {
        max-width: 600px;
    }

    .fifthsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 9%;
        margin-bottom: 15%;
    }

    .fifthsection .fifthtext {
        margin-bottom: 15%;
    }

    .fifthsection .fifthtext h2 {
        margin-bottom: 1%;
    }

    .fifthsection img {
        margin-bottom: 2%;
    }

    .fifthsection h3 {
        margin-bottom: 1%;
    }

    .fifthsection p {
        margin-bottom: 5%;
        max-width: 400px;
    }

    .logos {
        text-align: center;
        margin-bottom: 10%;
    }

    .logos div {
        margin-bottom: 7%;
    }

    .downloaders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align-last: center;
        margin: 8%;
    }

    .description {
        max-width: 600px;
    }

    .downloaders h2 {
        text-align: center;
        margin: 11%;
        margin-bottom: 1%;
    }

    .bottomparagraph {
        text-align: center;
        margin-bottom: 10%;
    }

    .footer {
        background-color: hsla(202, 11%, 66%, 0.1);
        text-align: center;
    }

    .info a {
        text-decoration: none;
        line-height: 200%;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials a {
        margin: 3%;
        margin-bottom: 6%;
        margin-top: 6%;
    }

    .bottomlogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomlogo img {
        width: 60px;
        height: 60px;
        margin: 5%;
    }

    .pc img {
        width: 100%;
    }
    
    .image img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    p {
        line-height: 153%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
        margin-bottom: 15%;
    }

    .text {
        text-align: center;
    }

    .text h1 {
        margin: 8%;
        margin-bottom: 5%;
    }

    .text p {
        margin: 9%;
        margin-top: 0px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iosbtn {
        margin-bottom: 5%;
    }

    .macbtn {
        margin-bottom: 40%;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .secondsection {
        margin: 9%;
        margin-bottom: 17%;
        text-align: center;
    }

    .secondsection h2 {
        margin-bottom: 5%;
    }

    .thirdsection {
        margin: 8%;
        text-align: center;
        margin-bottom: 45%;
    }

    .thirdsection .pc {
        margin-bottom: 15%;
    }

    .thirdsection h3 {
        margin-bottom: 3%;
    }

    .thirdsection p {
        margin-bottom: 15%;
    }

    .fourthsection {
        text-align: center;
        margin: 9%;
        margin-bottom: 15%;
    }

    .fourthsection h2 {
        margin-bottom: 5%;
    }

    .image {
        margin: 5%;
        margin-bottom: 15%;
    }

    .fifthsection {
        text-align: center;
        margin: 9%;
        margin-bottom: 35%;
    }

    .fifthsection .fifthtext {
        margin-bottom: 30%;
    }

    .fifthsection .fifthtext h2 {
        margin-bottom: 5%;
    }

    .fifthsection img {
        margin-bottom: 10%;
    }

    .fifthsection h3 {
        margin-bottom: 5%;
    }

    .fifthsection p {
        margin-bottom: 15%;
    }

    .logos {
        text-align: center;
        margin-bottom: 40%;
    }

    .logos div {
        margin-bottom: 16%;
    }

    .downloaders {
        text-align-last: center;
        margin: 8%;
    }

    .downloaders h2 {
        text-align: center;
        margin: 11%;
        margin-bottom: 4%;
    }

    .bottomparagraph {
        text-align: center;
        margin-bottom: 13%;
    }

    .footer {
        background-color: hsla(202, 11%, 66%, 0.1);
        text-align: center;
    }

    .info a {
        text-decoration: none;
        line-height: 230%;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials a {
        margin: 5%;
        margin-bottom: 13%;
        margin-top: 13%;
    }

    .bottomlogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomlogo img {
        width: 60px;
        height: 60px;
        margin: 10%;
    }

    .pc img {
        width: 100%;
    }
    
    .image img {
        width: 100%;
    }
}